body {
   
    height: 1200px;
    background: linear-gradient(#279eee, transparent 90%),
                linear-gradient(0deg, #fff, transparent),
                #ffa949 url('img/KodiakBear.jpeg') no-repeat center;

    background-size: cover;
}


h1 {
    color: brown;
    font-family: 'sofia';
    font-size: 5rem;
    text-align: center;
}

h2 {
    color: rgb(243, 210, 166);
    font-style: italic;
    text-align: center;

}

#animals {
    margin-top: 150px;
    margin-left: 430px;
    
}

